.content__pair-lable {
    display: flex;
    align-items: center;
    justify-content: center
}

.content__pair {
    margin-bottom: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}

.pair {
    display: inline-block;
}

.textbox__pair {
    margin-right: 10px;

    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: rgb(38, 127, 178);
    width: 90%;
}

.button-add {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: rgb(38, 127, 178);
    border-radius: 24px;
    padding: 8px 28px 8px 28px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background: rgb(36, 110, 152);
    }
}

.content__pair-list-lable {
    display: flex;
    align-items: center;
    justify-content: center
}

.content__pair-list {
    overflow: hidden;
    display: flex;
    // align-items: center;
    justify-content: center
}

.textbox__pair-list {
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    color: rgb(0, 0, 0);

    margin-right: 25px;
    width: 180px;
    height: 180px;
}

.pair-list {
    display: inline-block;
}

.list-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button + * {
    margin-top: 15px;
}

.button-name {
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
    background: rgb(38, 127, 178);
    border-radius: 24px;
    padding: 8px 20px 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background: rgb(36, 110, 152);
    }
}

.button-value {
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
    background: rgb(38, 127, 178);
    border-radius: 24px;
    padding: 8px 20px 8px 20px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background: rgb(36, 110, 152);
    }
}

.button-delete {
    font-weight: bold;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
    background: rgb(255, 0, 0);
    border-radius: 24px;
    padding: 8px 38px 8px 38px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
        background: rgb(183, 0, 0);
    }
}

[data-tooltip] {
    position: relative;
} 

[data-tooltip]::after { 
    content: attr(data-tooltip);
    position: absolute;
    width: auto;
    line-height: 12px;
    left: 0; top: 0;
    background: rgb(36, 110, 152);
    color: #fff;
    border-radius: 4px;
    padding: 0.25em;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transition: 1s;
} 

[data-tooltip]:hover::after { 
    opacity: 1;
    top: 4em;
}

.buttonXml {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .button-xml {
        width: 140px;
        font-weight: bold;
        font-size: 10px;
        line-height: 20px;
        color: #FFFFFF;
        background: rgb(184, 155, 39);
        border-radius: 24px;
        padding: 8px 28px 8px 28px;
        outline: none;
        border: none;
        cursor: pointer;

        &:hover,
        &:focus {
            background: rgb(116, 97, 24);
        }
    }
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, 500%) scaleY(0);
}